# ---- Node / Next.js ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
.next/
out/
dist/
coverage/
.cache/

# ---- Env & secrets ----
.env
.env.*
!.env.example

# ---- OS / Editor ----
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# ---- Logs ----
logs
*.log
*.log.*

# ---- Prisma ----
# миграции обычно КОММИТИМ, если они есть
# prisma/migrations/

# ---- Docker / Vercel ----
.vercel/
docker-data/

# ---- TypeScript ----
*.tsbuildinfo
next-env.d.ts
